
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
   <div class="initial_container">
      <div class="left_initialContainer">
         <h3>지원자</h3>
         <div class="applicants_btns">
            <a href="">지원서 작성 바로가기</a>
            <a href="">지원 상태 확인</a>
         </div>
      </div>
      <div class="right_initialContainer">
         <h3>면접관</h3>
         <div class="interviewer_btns">
            <a href="{% url 'accounts:signup' %}">회원가입</a>
            <a href="{% url 'accounts:login' %}">로그인</a>
         </div>
      </div>
   </div>
{% endblock content %}