{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
   <div class="signup_container">
      <p class="logo">Sign Up</p>
      <div class="signupform_container">
         <form method="POST" action="" id="signup_form">
            {% csrf_token %}
            {{ form }}
            <input class="signup_btn" type="submit" value="회원가입" style="color: white; border: none;">
         </form>
      </div>
   </div>
{% endblock content %}