{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/variable.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <style>
        body {
            font-family: 'Pretendard', sans-serif;
        }
    </style>
    {% block head %} {% endblock %}
</head>
<body>
   <div class="signup_container">
      <div class="signup_left_container">
         <p class="signup_head">Sign Up</p>
         <div class="signupform_container">
            <form method="POST" action="" id="signup_form">
               {% csrf_token %}
               {{ form }}
               <p>회원가입 후 관리자의 권한 승인 절차를 기다려주세요 :)</p>
               <input class="signup_btn" type="submit" value="회원가입 하기" style="color: white; border: none;">
            </form>
         </div>
      </div>
      <div class="signup_right_container">
         <p class="signup_comment">효율적인 인재 영입의 시작</p>
         <p class="signup_logo">HIREHUB</p>
      </div>
   </div>
</body>
</html>   