.document_container {
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 100%;
}


.applicant_container,
.passed_container {
    width: 50%;
    height: 100%;
    margin: 0 30px;
    padding-top: 15px;
    padding: 15px;
    border-radius: 5px;
    /*box-shadow: 0px 0px 10px rgba(0, 55, 255, 0.25);*/
}

.applicants_list,
.passed_list {
    height: 100%;
}

.applicants_list > p,
.passed_list > p {
    margin:0;
    margin-bottom: 20px;
    padding: 10px 0;
    padding-left: 1rem;
    color: var(--main-color);
    border-bottom: 0.5rem solid var(--main-color);
    font-size: 3.5rem;
    font-weight: bold;
}

.each_applicant {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease; /* 호버가 끝난 후 원래 상태로 돌아가기 위한 전환 효과 */
}

.each_applicant:hover {
    transform: translateX(-10px); /* 요소를 왼쪽으로 10px 이동 */
}

.all {
    background-color: var(--box-color);
}

.pass {
    background-color: var(--box-color);
}

.applicant_info{
    list-style: none;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 5px 0;
}

#name {
    font-size: 1.6rem;
    font-weight: bold;
    padding-right: 1rem;
    border-right: solid black;
}

.info {
    font-size: 1.3rem;
    padding-right: 0.5rem;
}

.scroll_section {
    height: calc(100% - 13rem);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
    padding: 20px;
}
.scroll_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
