section {
    height: 90%;
    display: flex;
    flex-direction: column;
}

main {
    height: calc(100vh - 80px);
    padding: 40px 50px 40px;
    background-color: #ffffff;
}

section .container2 {
    height: calc(100% - 14rem) !important;
}

section .container {
    height: calc(100% - 60px);
    box-shadow: 0 0.4rem 2rem rgba(28, 101, 239, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.evaluation_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
}

.evaluation_title > i {
    position: absolute;
    font-size: 2rem;
    color: #699BF7;
    left: 258px;
    top:110px;

}

.evaluation_title > h1 {
    font-size: 3.2rem;
    font-weight: 700;
    color: #1C65EF;
    font-family: var(--eng-font);
}

.container h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.container .interviewer {
    font-size: 2rem;
    margin-bottom: 10px;
}

.container_bottom {
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

.comment_content {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    height: 70%;
    overflow-y: scroll;
}

.comment_content:-webkit-scrollbar {
    display: none;
}

.comment_content {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.comment_container {
    list-style-type: none;
    padding: 0;
    margin: 0;
    counter-reset: section;
}

.container .interviewr_name {
    margin-left: 10px;
    font-weight: 400;
    margin-bottom: 10px;
}

.comment_container .comment {
    margin: 10px 10px 20px 20px !important;
    font-size: 2rem;
}

.close-popup {
    background-color: var(--main-color);
    color: white;
    width: 20%;
    font-weight: bold;
    font-size: 2.6rem;
    border-radius: 10px;
    margin-left: auto;
}