

.sideCtx {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
}

.sideCtx > a {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px 30px 0 0;
    text-decoration: none;
    color: black;
}

.search_box {
    width: auto;
    height: 35px;
    border-radius: 20px;
    background-color: var(--lightprocess-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0;
}

.search_box > input {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding-left: 5px;
}

.search_box > input:focus {
    outline: none;
    background-color: transparent !important;
}

.searchBtn  {
    font-size: 2rem;
    margin-right: 15px;
}

#applicant-search-results {
    display: flex;
    position: absolute;
    cursor: pointer;
    padding-left: 2rem;
}
#applicant-search-results li {
    list-style: none;
    margin-right: 5px;
    font-size: 1.5rem;
}
#applicant-search-results li:hover {
    font-weight: bold;
}

.search_box >  ul > li {
    display: block;
    min-height: 10px;
    z-index: 10;
}

.search_box > ul > li::before {
    content: '\00a0'; /* 공백 문자 추가 */
    visibility: hidden; /* 화면에 보이지 않지만 공간은 차지함 */
}

.applicant_container{
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    height: calc(100% - 3.5rem);
}
    
.applicants_list {
    width: 32%;
    height: 100%;
    padding: 10px;
}

.applicants_list > p {
    padding-left: 10px;
    color: var(--main-color);
    border-bottom: 0.5rem solid var(--main-color);
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
/*
.each_applicant {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.each_applicant:hover {
    transform: perspective(500px) translateZ(10px);
    transition: transform 0.3s ease;
}
*/
.each_applicant {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease; /* 호버가 끝난 후 원래 상태로 돌아가기 위한 전환 효과 */
}

.each_applicant:hover {
    transform: translateY(-3px); /* 요소를 왼쪽으로 10px 이동 */
}

.scheduled {
    background-color: var(--box-color);
}

.in_progress {
    background-color: var(--box-color);
}

.completed {
    background-color: var(--box-color);
}

.applicant_info {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    padding-left: 0;
    gap: 10px;
    flex-wrap: nowrap;
    margin: 0;
}

.infoName {
    font-size: 1.6rem;
    font-weight: 700;
    padding-right: 10px;
    border-right: solid black;
    margin-left: 10px;
}

.infoSch {
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 10px;

}

.infoMajor {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 30px;
}

.scroll_section {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: calc(100% - 7.5rem);
    padding: 20px;
    padding-top: 1rem;
}
.scroll_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}