.title {
    display: flex;
    justify-content: start;
    padding-top: 45px;
    padding-left: 57px;
}

.title > h1 {
    font-size: 4rem;
    font-weight: 700;
}

.title > i {
    font-size: 3.5rem;
}

.title > p {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 210%;
}

.sideCtx {
    display: flex;
    justify-content: end;
}

.sideCtx > a {
    font-size: 1.8rem;
    font-weight: 900;
    padding: 5px 30px 0 0;
    text-decoration: none;
}

.search-applicant {
    width: 400px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--box-color);
    margin-right: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.search-applicant > input {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding-left: 5px;
}

.search-applicant > input:focus {
    outline: none;
}

.searchBtn  {
    font-size: 2rem;
    margin-right: 15px;
}


.applicant_container {
    display: flex;
    justify-content: center;
    align-content: space-around;
    gap: 10px;
    height: calc(100% - 14rem);
    padding: 5rem;
}

.applicants_list {
    width: 32%;
}

.applicants_list > p {
    margin:0;
    padding: 10px 0;
    border-bottom: 5px solid black;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 20px;

}

.each_applicant {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.scheduled {
    background-color: var(--lightprocess-color);
    width: 89%;
    height: 39px;
    padding: 0 10px 0 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.in_progress {
    background-color: var(--mediumprocess-color);
    width: 89%;
    height: 39px;
    padding: 0 10px 0 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.completed {
    background-color: var(--process-color);
    width: 89%;
    height: 39px;
    padding: 0 10px 0 10px;
    margin-top: 20px;
    margin-left: 10px;
}

.applicant_info {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
    margin: 5px 0;
    padding-top: 7px;
}

.infoName {
    font-size: 1.6rem;
    font-weight: 700;
    padding-right: 10px;
    border-right: solid black;
    margin-left: 10px;
}

.infoSch {
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 10px;
    margin-left: 20px;
}

.infoMajor {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 30px;
}

.scroll_section {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scroll_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}