

.sideCtx {
    display: flex;
    justify-content: end;
}

.sideCtx > a {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 5px 30px 0 0;
    text-decoration: none;
}

.search-applicant {
    width: 230px;
    height: 35px;
    border-radius: 20px;
    background-color: var(--lightprocess-color);
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
}

.search-applicant > input {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    padding-left: 5px;
}

.search-applicant > input:focus {
    outline: none;
}

.searchBtn  {
    font-size: 2rem;
    margin-right: 15px;
}


.applicant_container{
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 100%;
    padding: 20px 0;
}
    
.applicants_list {
    width: 32%;
    height: 100%;
    padding: 10px;
}

.applicants_list > p {
    margin:10;
    margin-bottom: 20px;
    padding: 10px 0;
    padding-left: 1rem;
    color: var(--main-color);
    border-bottom: 0.5rem solid var(--main-color);
    font-size: 3.5rem;
    font-weight: bold;

}
/*
.each_applicant {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.each_applicant:hover {
    transform: perspective(500px) translateZ(10px);
    transition: transform 0.3s ease;
}
*/
.each_applicant {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease; /* 호버가 끝난 후 원래 상태로 돌아가기 위한 전환 효과 */
}

.each_applicant:hover {
    transform: translateX(-10px); /* 요소를 왼쪽으로 10px 이동 */
}

.scheduled {
    background-color: var(--box-color);
}

.in_progress {
    background-color: var(--box-color);
}

.completed {
    background-color: var(--box-color);
}

.applicant_info {
    display: flex;
    align-items: center;
    justify-content: start;
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 10px;
    margin: 5px 0;
    padding-top: 7px;
}

.infoName {
    font-size: 1.6rem;
    font-weight: 700;
    padding-right: 10px;
    border-right: solid black;
    margin-left: 10px;
}

.infoSch {
    font-size: 1.4rem;
    font-weight: 500;
    padding-right: 10px;
    margin-left: 20px;
}

.infoMajor {
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 30px;
}

.scroll_section {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    height: calc(100% - 7.5rem);
    padding: 20px;

}
.scroll_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}