header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000; 
}


main {
    padding: 0 !important;
}

section.main h2,
section.main h1,
section.main p,
.button_box {
    opacity: 0;
    transform: translateY(20px); /* 초기 위치를 살짝 아래로 설정 */
    animation: fadeInUp 1s forwards;
}

/* main */
section.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 110%; 
}

section.main div {
    width: 100%;
}

section.main h2 {
    text-align: center;
    font-size: 6rem;
    color: var(--main-color);
    margin-top: 270px;
    padding: 5px;
    letter-spacing: 8px;
    animation-delay: 0.3s;
    font-family: var(--eng-font);
}

section.main h1 {
    text-align: center;
    font-size: 6rem;
    color: black;
    padding: 5px;
    padding-bottom: 15px;
    letter-spacing: 2px;
    animation-delay: 0.6s;
}

section.main p {
    text-align: center;
    font-size: 2.5rem;
    color: #666;
    letter-spacing: 2px;
    animation-delay: 0.9s;
}

section.main span {
    font-weight: bold; 
    letter-spacing: 2px;


}

.button_box{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 10px;
    animation-delay: 2s;

}

section.main a {
    display: inline-block;
    margin: 20px;
    padding: 8px 40px;
    font-size: 2.5rem;
    font-weight: 400;
    background-color: #007BFF;
    background-image: linear-gradient(to right, #007BFF, #3692f5);
    color: #fff;
    text-decoration: none;
    border-radius: 13px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
    animation: floating 1.5s ease-in-out infinite;
    font-weight: 600;
}

section.main a:hover {
    background-color: #0056b3;
    background-image: linear-gradient(to right, #0056b3, #1d4c7a);
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 12px 16px rgba(0, 0, 0, 0.15);
}

section.main a:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
}


/* all_in_one */
section.all_in_one {
    margin-top: 200px;
    width: 100%;
    height: 130%;
}

section.all_in_one h2 {
    text-align: center;
    font-size: 6rem;
    color: black;
    padding: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    animation-delay: 0.6s;
    font-family: var(--eng-font);
}

section.all_in_one p {
    text-align: center;
    font-size: 2rem;
    color: #666;
    letter-spacing: 2px;
    animation-delay: 0.9s;
}

.img_list{
    display: flex; 
    align-items: center;
    justify-content: start; 
    height: 160px;
    gap: 100px;
    margin-left: 60px;
    margin-top: 130px;
    margin-bottom: -120px;
}

#section_img_1 {
    width: 116px;
    animation: floating 1.2s infinite;
    display: none;
    opacity: 0;
}

#section_img_2 {
    width: 122px;
    animation: floating 1.2s infinite;
    display: none;
    opacity: 0;
}

#section_img_3 {
    width: 141px;
    animation: floating 1.2s infinite;
    display: none;
    opacity: 0;
}

#section_img_4 {
    width: 160px;
    animation: floating 1.2s infinite;

    display: none;
    opacity: 0;
}

#section_img_1.show, #section_img_2.show, #section_img_3.show, #section_img_4.show {
    display: block;
    opacity: 1;
}



.image_list img {
    margin-right: 20px;
}

#arrow {
    width: 1220px; 
    height: auto; 
    opacity: 1;
    transform: scale(1);

}

.animate-on-focus {
    animation: slide 3s forwards;
}


/* assistant */
section.assistant {
    width: 100%;
    height: auto; 
    /*background: linear-gradient(to bottom, #FFFFFF 0%, #9cbfff 50%, #FFFFFF 100%);*/
    background: linear-gradient(to bottom, #FFFFFF 0%, #9cbfff 40%, #9cbfff 60%, #FFFFFF 100%);
}

section.assistant h2 {
    text-align: center;
    font-size: 6rem;
    color: black;
    padding: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    animation-delay: 0.6s;
    font-family: var(--eng-font);
}

section.assistant p {
    text-align: center;
    font-size: 2rem;
    color: #666;
    letter-spacing: 2px;
    animation-delay: 0.9s;
    margin-bottom: 300px;
}

.assistant_img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; 
    margin: 100px;
}

#page{
    transition: opacity 1s ease-out, transform 1s ease-out;
    border-radius: 20px;
    width: 40%;
    height: auto;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08), 0 16px 24px rgba(0, 0, 0, 0.08);
}

.left {
    opacity: 0;
    transform: translateX(-100%); /* 왼쪽에서 등장 */
}

.right {
    opacity: 0;
    transform: translateX(100%); /* 오른쪽에서 등장 */
}

.left.visible,
.right.visible {
    opacity: 1;
    transform: translateX(0);
}

#info {
    width: 200px;
    opacity: 0;
    transition: opacity 3s ease-out; 
}

#info.visible {
    opacity: 1;
}


/* interview */
section.interview {
    margin-top: 300px;
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

section.interview h2 {
    text-align: center;
    font-size: 6rem;
    color: black;
    padding: 5px;
    padding-bottom: 5px;
    letter-spacing: 2px;
    animation-delay: 0.6s;
    font-family: var(--eng-font);
}

section.interview p {
    text-align: center;
    font-size: 2rem;
    color: #666;
    letter-spacing: 2px;
    animation-delay: 0.9s;
}

#interview_img {
    margin-top: 100px;
    width: 590px;
    opacity: 1;
    transform: scale(1);
}

.interview-on-focus {
    animation: floating2 2s infinite;
}



/* final */
section.final {
    width: 100%;
    height: 100%; 
    background: linear-gradient(to bottom, #FFFFFF 0%, #9cbfff 100%);
}

section.final p {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    color: black;
    padding: 5px;
    padding-top: 250px;
    letter-spacing: 2px;
    animation-delay: 0.6s;
}

section.final h1 {
    text-align: center;
    font-size: 9rem;
    color: var(--main-color);
    padding: 5px;
    letter-spacing: 8px;
    animation-delay: 0.3s;
    font-family: var(--eng-font);
}

section.final a {
    display: inline-block;
    margin: 20px;
    padding: 8px 40px;
    font-size: 2.5rem;
    font-weight: 400;
    background-color: #007BFF;
    background-image: linear-gradient(to right, #007BFF, #3692f5);
    color: #fff;
    text-decoration: none;
    border-radius: 13px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
    animation: floating 1.5s ease-in-out infinite;
    font-weight: 600;
}

section.final a:hover {
    background-color: #0056b3;
    background-image: linear-gradient(to right, #0056b3, #1d4c7a);
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 12px 16px rgba(0, 0, 0, 0.15);
}

section.final a:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 12px rgba(0, 0, 0, 0.1);
}

/* footer */
footer {
    width: 100%;
    height: 25%; 
    background-color: white;
    background-color: white;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .footer_title {
} */

.footer_title > h1{
    font-size: 4rem;
    color: #666;
    letter-spacing: 2px;
    font-family: var(--eng-font);
}

.social_container {
    display: block;
    font-family: var(--eng-font);
}

.social_container > a {
    display: block; 
    text-decoration: none; 
    color: #707070;
    font-size: 2rem; 
}

.social_container > a > i {
    padding-right: 10px;
    font-size: 2rem;
}

#title_box {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-out, transform 1.5s ease-out;
}

#title_box.visible {
    opacity: 1;
    transform: translateY(0);
}

.final_btn{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 10px;
    animation-delay: 2s;
}

#final_btn{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 4s ease-out, transform 3.5s ease-out;
}

#final_btn.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes floating {
    0% {
        transform: translateY(0); /* 처음 위치 */
    }
    50% {
        transform: translateY(-7px); /* 위로 이동 */
    }
    100% {
        transform: translateY(0); /* 원래 위치로 돌아오기 */
    }
}

@keyframes floating2 {
    0% {
        transform: translateY(0); /* 처음 위치 */
    }
    50% {
        transform: translateY(-15px); /* 위로 이동 */
    }
    100% {
        transform: translateY(0); /* 원래 위치로 돌아오기 */
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0); /* 제자리로 이동 */
    }
}

@keyframes slide {
    0%{
        transform: translateX(-1500px);
    }
    100%{
        transform: translateX(0px);
    }
}