.mainboard_container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.evaluate_list{
    width: 60%;
    height: 100%;
    padding-top: 15px;
    padding: 15px;
    /*box-shadow: 0px 0px 10px rgba(0, 55, 255, 0.25);*/
}

.main_title {
    margin:0;
    padding: 10px 10px;
    padding-left: 1rem;
    border-bottom: 0.5rem solid var(--main-color);
    justify-content: center;
    margin-bottom: 10px;
    font-size: 3.2rem;
    font-family: var(--eng-font);
    color: var(--main-color);
    font-weight: bold;
    display: flex;
}
#interview_num {
    display: block;
    margin-left: auto;
    padding-right: 1rem;
}

.sort_container {
    margin-bottom: 10px;
    display: flex;
}

.form-control {
    margin-left: auto;
    font-size: 2rem;
    text-align: right; /* 텍스트를 오른쪽으로 정렬 */
    background-color: transparent; /* 배경 제거 */
    color: gray; /* 글씨를 회색으로 변경 */
    border: none; /* 입력 필드의 기본 테두리 제거 */
    outline: none; /* 포커스 시 발생할 수 있는 외곽선 제거 */
    height: 30px; /* 버튼 높이 설정 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 호버 시 부드러운 전환 */
}


.my_applicant{
    padding: 10px 20px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    margin: 0 5px 10px 5px;
    transition: transform 0.3s ease; /* 호버가 끝난 후 원래 상태로 돌아가기 위한 전환 효과 */
}

.my_applicant:hover {
    transform: translateY(-3px); /* 요소를 왼쪽으로 10px 이동 */
}
.my_applicant > p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.applicant_info {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

#name {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 10px;
    border-right: solid black;
}

.info {
    font-size: 1.8rem;
    padding-right: 5px;
}   

.my_schedule{
    width: 35%;
    height: 100%;
    padding: 15px 20px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 55, 255, 0.25);

}

.schedule_content {
    padding:10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.schedule_info {
    display: flex;
    justify-content: space-between;
}
.schedule_info > #schedule_name{
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;
}

.schedule_info > #schedule_date{
    font-size: 2rem;
    margin: 5px;
}

.scroll_section {
    height: calc(100% - 10rem);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
    padding-top: 20px;
}
.scroll_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
