.mainboard_container {
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 100%;
}

.evaluate_list{
    width: 60%;
    margin: 30px;
    overflow-y: auto;
}

.main_title {
    margin:0;
    padding: 10px 0;
    border-bottom: solid black;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: bold;
    display: flex;
}
#interview_num {
    display: block;
    margin-left: auto;
}

.sort_container {
    margin-bottom: 10px;
    display: flex;
}
.form-control {
    margin-left: auto;
    font-size: 2rem;
}

.my_applicant {
    padding: 10px 20px;
    background-color: var(--box-color);
    border-radius: 5px;
    margin-bottom: 10px;
}

.my_applicant > p {
    font-size: 2rem;
    margin: 5px 0;
}

.applicant_info {
    list-style: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0;
}

#name {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 10px;
    border-right: solid black;
}

.info {
    font-size: 2rem;
    padding-right: 5px;
}   

.my_schedule{
    width: 45%;
    margin: 30px;
    margin-left: 10px;
    padding: 15px 20px;
    background-color: var(--box-color);
    border-radius: 5px;
}

.schedule_content {
    padding:10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.schedule_content > #schedule_name{
    font-size: 2rem;
    font-weight: bold;
    margin: 5px;
}

.schedule_content > #schedule_date{
    font-size: 2rem;
    margin: 5px;
}

.scroll_section {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.scroll_section::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
