.recommend_header {
   display: flex;
   justify-content: space-between;
}
.recommend_logo {
   font-family: var(--eng-font);
   font-size: 3.2rem;
   font-weight: bold;
   color: var(--main-color);
}
.recommend_navbar {
   font-weight: bold;
}
.recommend_navbar button {
   text-decoration: none;
   color: var(--main-color);
   font-size: 2.6rem;
}
.recommend_navbar button i {
   margin-right: 10px;
}

.recommend_content_container {
   margin-top: 2.3rem;
   box-shadow: 0 0.4rem 2rem rgba(28, 101, 239, 0.2);
   border-radius: 1rem;
   height: calc(100vh - 25rem);
   padding: 2.5rem;
}
#recommend_content_scroll {
   overflow: scroll;
   height: 100%;
   padding: 1.5rem;
}
#recommend_content_scroll div p {
   font-size: 2rem;
   line-height: 4rem;
}

#recommend_content_scroll::-webkit-scrollbar {
   width: 5px;
}
#recommend_content_scroll::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: black;
}