body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.profile_section {
    background-color: rgb(212, 212, 212);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    display: flex;
    justify-content: center;
}

.profile_container {
    padding: 20px;
    flex-direction: row;
    width: 100%;

}

.profile_container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.profile_container div {
    display: flex;
}


.profile_details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    flex: 1;
}

.profile_personal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    justify-content: center;

}
.profile_personal div{
    display: flex;
    flex-direction: column;
    margin: 60px;
}


.profile_interview {
    display: flex;
    justify-content: center;
}
.profile_interview div{
    flex-direction: column;
}


.profile_personal p, .profile_interview p {
    margin: 10px 0;
    font-size: 16px;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.actions button:hover {
    background-color: #444;
}

.application_container{
    flex: 1;
    flex-direction: column;
}
.application_content {
    background-color: white;
    margin: 10px;
    border: 2px solid black; 
    overflow: auto; /* 스크롤 가능하도록 설정 */
    flex-direction: column;
    flex: 1;
}

.application_content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.answers{
    flex-direction: column;
}
.answers p {
    margin: 10px 0;
    font-size: 16px;
}

