section {
    padding: 30px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}
.profile_logo {
    font-size: 4rem;
    font-weight: bold;
    margin-left: 2rem;
}

.actions {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    gap: 1.5rem;
    margin-right: 1rem;
}
.actions a {
    text-decoration: none;
}

.profile_section {
    display: flex;
    height: calc(100% - 80px);
    /* height: 100%; */
    /* padding-bottom: 20px; */
}

.profile_section .profile_container {
    background-color: var(--box-color);
    border-radius: 10px;
    width: 40%;
    height: 100%;
    margin-right: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile_section .profile_personal {
    display: flex;
    align-items: center;
    text-align: center;
    height: 50%;
    width: 100%;
    border-bottom: 2px solid black;
}
.profile_section .profile_name {
    font-size: 2.5rem;
    font-weight: bold;
    width: 40%;
}

.profile_section .profile_detail {
    display: flex;
    padding-left: 60px;
    gap: 30px;
    width: 60%;
}
.profile_section .profile_detail1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-size: 2rem;
    text-align: start;
}
.profile_section .profile_detail2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 2rem;
    text-align: start;
}

.profile_section .profile_interview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.4rem;
    height: 50%;
}

.profile_section .application_container{
    width: 60%;
    height: 100%;
    padding: 0 10px;
}

.profile_section .application_text {
    display: flex;
    justify-content: start;
}

.profile_section .application_text p {
    font-size: 2rem;
    padding-left: 10px;
    font-weight: bold;
}

.profile_section .application_text > button {
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    padding: 10px; 
    text-align: center;
    line-height: 100%;
    margin-left: 30px;
    border-radius: 10px;
}

.profile_section .application_content {
    height: calc(100% - 3rem);
    border: 2px solid black;
    border-radius: 1rem s;
    margin-top: 1rem;
    padding: 1.5rem 2rem;
    overflow-y: scroll;
    flex-direction: column;
    counter-reset: section;
}
.profile_section .application_question::before {
    counter-increment: section;
    content: counter(section) ". ";
    font-weight: 600;
}
.profile_section .application_content::-webkit-scrollbar {
    width: 8px;
}

.profile_section .application_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
}
.profile_section .application_question {
    font-size: 2rem;
}

.profile_section .application_answer {
    margin: 10px 0;
    margin-left: 2rem;
    font-size: 1.5rem;
}
