section {
    padding: 30px 20px;
    height: 100%;
}

.questions_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.questions_logo {
    font-size: 4rem;
    font-weight: bold;
}

.questions_logo a {
    text-decoration: none;
}

.questions_section {
    display: flex;
    height: 700px;
    margin: 20px 0;
    padding: 20px;
}

.application_container {
    width: 50%;
    padding: 0 20px;
    margin-top: 20px;
}

.applicant_title {
    display: flex;
    align-items: center;
}

.application_container h3 {
    font-size: 2rem;
    padding-left: 10px;
}

.application_content {
    background-color: #dfdede;
    height: 95%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    overflow-y: scroll;
    flex-direction: column;
}

.application_content::-webkit-scrollbar {
    width: 8px;
}

.application_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
}

.question {
    font-size: 2rem;
}

.answers p {
    margin: 10px 0;
    font-size: 1.5rem;
}

#applicationContent {
    counter-reset: section;
    display: block; /* 기본적으로 표시 */
}

#applicationContent .question::before {
    counter-increment: section;
    content: counter(section) ". ";
    font-weight: 600;
}

#commonQuestionContent {
    display: none; /* 초기 상태에서 숨김 */
    background-color: #dfdede;
    height: 95%;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    overflow-y: scroll;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}


.questions {
    width: 50%;
    padding: 0 20px;
    margin-top: 20px;
}

#questionList {
    height: 70%;
    overflow-y: scroll;
    flex-direction: column;
}

#questionList::-webkit-scrollbar {
    width: 8px;
}
#questionList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
}

.individualquestion{
    background-color: var(--mediumprocess-color);
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px 15px 20px 15px;
    overflow-y: scroll;
    flex-direction: column;
}
.individualquestion > p {
    font-size: 1.6rem;
}

.individualquestion small {
    display: inline-block;
    margin-left: auto; 
}

.answers{
    margin-bottom: 5px;
}

#questionForm {
    height: 20%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#id_text{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    max-height:70px;
}


#questionForm button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}