@media (min-width: 691px) {
   .responsive_initial_btns {
      display: none;
   }
}

@media (max-width: 690px) {
   header {
      height: 90px;
   }
   main {
      height: calc(100vh - 100px);
   }
   .initial_btns {
      display: none;
   }
   #mainLogo {
      width: 15rem;
   }
   .main_comment {
      margin-top: 2rem;
   }
   .responsive_initial_btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 18rem;
   }
   .responsive_initial_btns a {
      text-decoration: none;
      font-size: 2rem;
   }
   .link_write {
      padding: 0.8rem 4rem;
      margin: 0;
      margin-bottom: 1.5rem;
   }

   .apply_container h2 {
      font-size: 2.4rem;
   }
   .apply_container p {
      font-size: 1.8rem;
   }
   #applyForm {
      padding: 1.5rem;
   }
   .apply_content input, .question textarea {
      border-radius: 15px;
      border: 1.5px solid var(--main-color);
      padding: 1rem 1.5rem;
      margin-bottom: 1rem;
   }
   .apply_content {
      font-size: 1.8rem;
   }
   .apply_content label {
      margin-left: 0.8rem;
      margin-bottom: 0.5rem;
   }

   .status_container {
      flex-direction: column;
   }
   .status_left_container, .status_right_container {
      width: 100%;
   }
   .status_right_container {
      margin-bottom: 4rem;
   }
   .club_container {
      width: 25rem;
      height: 20rem;
   }
   .club_name {
      margin: 0;
   }
   #statuscheck_form input {
      width: 35rem;
      height: 5.5rem;
      font-size: 2rem;
      margin-bottom: 1rem;
   }
   .status_container button {
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 6rem;
   }
   .club_description, .status_logo {
      display: none;
   }

   .result_head img {
      width: 6rem;
      height: 6rem;
   }
   .result_head p {
      font-size: 4.5rem;
   }
   .result_comment, .resultno_comment {
      font-size: 3rem;
      margin-bottom: 1rem;
      margin-top: 5.5rem;
   }
   .applyResult_container a {
      font-size: 1.5rem;
      margin-bottom: 6rem;
   }
   .applyResult_container a img {
      width: 1.8rem;
      height: 1.8rem;
   }
}

@media (max-width: 580px) {
   .main_comment {
      text-align: center;
      font-size: 4rem;
      line-height: 5rem;
   }
   .main_logo {
      font-size: 5rem;
      line-height: 6rem;
   }
}

@media (max-width: 580px) {
   #animatedText {
      font-size: 4rem;
   }
   section.main div h2 {
      margin-top: 150px;
   }
   #page {
      width: 80%;
   }
}

@media (max-width: 1201px) {
   main {
      height: calc(100vh - 80px);
      padding: 40px 50px 40px;
      background-color: #ffffff;
      width: 100%;
   }
   body {
      display: flex;
      justify-content: center;
   }
   #page {
      width: 50% !important;
   }
}

@media (max-width: 1100px) {
   #arrow {
      display: none; 
   }

   .img_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
   }

   .img_list {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr); 
      gap: 40px; 
      justify-content: center;
      margin-left: 0;
      margin-top: 20px;
      margin-bottom: 0;
   }

   .img_list img {
      width: 100px; 
      margin: 0; 
   }
}

@media (max-width: 780px) {
   .line-break {
      display: block !important;
   }
   .button_box{
      flex-direction: column;
      align-items: center;
   }
   section.main a {
      width: 300px;
      display: flex !important;
      justify-content: center;
   }
}
@media (max-width: 430px) {
   section.all_in_one {
      height: 100% !important;
   }
   body {
      width: 100vh;
   }
}