.title {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
    font-family: var(--eng-font);
}
.title_box{
    display: flex;
    justify-content: space-between; /* 좌우로 배치하고 공간을 균등하게 배분 */
    align-items: center; /* 수직 가운데 정렬 */
}


#day{
    font-size: 2.8rem;
    font-weight: 700;
    padding-top: 4px;
    padding-right: 4px;
}

#date{
    font-size: 2rem;
}

.schedule_btn {
    display: flex;
    background-color: var(--main-color);
    color: white;
    width: 96px;
    height: 33px;
    border-radius: 7px;
    margin-bottom: 10px;

}
.schedule_btn:hover {
    background-color: #72a2e4; /* 배경색을 어둡게 변경 */
    transform: scale(1.05); /* 살짝 확대 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.btn {
    padding-left: 15px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
}

.page_container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: calc(100% - 60px);
    
}
.schedule_container {
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: auto;


}
.schedule_container::-webkit-scrollbar {
    width: 8px;
}
.schedule_container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #a5a5a5;
}

.reschedule_container {
    flex-direction: column;
    display: flex;
    width: 20%;
    height: 100%;
    padding: 15px 20px;
    background-color: var(--box-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 55, 255, 0.25);

}

.grid_container {
    display: flex;
    flex-direction: column;
}

.grid_container > p {
    padding: 10px 0;
    border-bottom: solid var(--box-color);
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.applicants_ctx {
    height: auto;               
    white-space: wrap;        
    display:block; 
    padding: 5px;
    margin-bottom: 10px;
}

.applicant_info {
    font-size: 1rem;
    background-color: var(--box-color);
    display: inline-block;
    padding: 10px 5px 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;             

}

.applicant_info:hover {
    transform: perspective(500px) translateZ(10px);
}

.applicant_info > p {
    font-size: 1.2rem;
    font-weight: 700;
}


.sideText {
    font-size: 1rem;
    font-weight: 500;
    padding-left: 5px;
}

.appliCtx > p {
    font-size: 1rem;
    font-weight: 500;
    width: 220px;
}

.form_update{
    display: inline-block;
}

.update{
    margin-left: 5px;
    font-size: 0.4rem;
    color: var(--box-color);
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 30px;
}
.sideText{
    font-size: 1.2rem;

}

.scheduleTitle > p {
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 20px;
}

.reschedule_applicant {
    width: 90%;
    height: 90%;
    padding: 10px;
    background-color: var(--box-color);
    border-radius: 5px;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.reschedule_applicant::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}


span[class^="spanUpdate"] input[type="button"] {
    border-radius: 5px; /* 테두리를 둥글게 */
    background-color: var(--main-color); /* 배경색을 메인 컬러로 설정 */
    color: white; /* 글씨 색을 하얀색으로 변경 */
    border: none; /* 기본 테두리 제거 */
    padding: 5px 10px; /* 버튼 안쪽 여백 추가 */
    cursor: pointer; /* 마우스를 올렸을 때 커서를 포인터로 변경 */
    font-weight: bold; /* 글씨를 굵게 */
    transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

span[class^="spanUpdate"] input[type="button"]:hover {
    background-color: #72a2e4; /* 호버 시 어두운 색상으로 변경 */
}

.reschedule_info{
    width: 100%;
    font-size: 1rem;
    background-color: var(--box-color);
    display: inline-block;
    padding: 10px 5px 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease; 
}
.reschedule_info:hover {
    transform: perspective(500px) translateZ(10px);
}

.reschedule_info > p{
    font-size: 1.5rem;
    font-weight: 700;
}

.submit_btn {
    font-size: 1.2rem;
    font-weight: 700;
}

