{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/variable.css' %}">
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <style>
        body {
            font-family: 'Pretendard', sans-serif !important;
        }
    </style>
    {% block head %} {% endblock %}
</head>
<body>
    <header>
      <nav>
         <div id="nav_title">
             <a href='{% url "accounts:initialApplicant" %}'>Hire Hub</a>
         </div>
     </nav>
    </header>
    <main>
        {% block content %}<!-- 여기 내용-->{% endblock content %}
    </main>
</body>
</html>