{% extends 'for_applicant/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/for_applicant.css' %}">
{% endblock %}

{% block content %}
    <div class="status_container">
        <p class="status_logo">지원 상태 확인</p>
        <div class="statuscheck_container">
            <form method="POST" action="" id="login_form">
                {% csrf_token %}
                {{ form }}
                <input class="status_btn" type="submit" value="확인" style="color: white; border: none">
            </form>
        </div>
    </div>
{% endblock content %}