{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
{% endblock %}

{% block content %}
<h1>팀별 지원자 순위</h1>
{% for interview_team in interview_teams %}
<h2>{{interview_team.team_name}}</h2>
<p>점수 평균: {{interview_team.average_score}}</p>
<table>
    <thead>
        <tr>
            <th>순위</th>
            <th>이름</th>
            <th>총점</th>
        </tr>
    </thead>
    <tbody>
        <script> var counter = 0 </script>
        {% for application in applications %}
            {% if application.interview_team.id == interview_team.id %}
            <tr>
                <td id="{{forloop.counter}}">{{ forloop.counter }}</td>
                <script>
                    var counter = counter+1
                    var s{{forloop.counter}} = counter
                    document.getElementById("{{forloop.counter}}").innerHTML = s{{forloop.counter}};
                </script>
                <td>{{ application.name }}</td>
                <td>{{ application.total_score }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endblock %}