{% block content %}
<nav>
    <div id="nav_title">
        <a href='/'>Hire Hub</a>
    </div>
    {% if user.is_authenticated %}<!--로그인한 상태일 때 출력-->
    <div id="nav_menu">
        <a href='{% url "" %}'>내 작업보드</a>
        <div>
            <h2>지원자 관리</h2>
            <div>
                <a href='{% url "" %}'>서류 관리</a>
                <a href='{% url "" %}'>면접 관리</a>
            </div>
        </div>
        <a href='{% url "" %}'>템플릿</a>
        <a href='{% url "" %}'>로그아웃</a>
    </div>
    {% else %}<!--로그인하지 않은 상태일 때 출력-->
    <div id="nav_menu">
    </div>
    {% endif %}
</nav>
{% endblock %}