<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>템플릿 목록</title>
</head>
<body>
    <div>
        <h1>템플릿 목록</h1>
        <a href="{% url 'template:apply_create' %}">+ 템플릿 생성하기</a>
        <div>
            <h2>지원서</h2>
            <ul>
                {% for template in template %}
                    <li><a href="{% url 'template:template_detail' template.pk %}">{{ template.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
