section {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#question_section {
    height: calc(100% - 5rem);
}

.questions_section {
    display: flex;
    height: 100%;
}


.questions_section .questions_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.questions_section .questions_logo {
    font-size: 4rem;
    font-weight: bold;
}

.questions_section .questions_logo a {
    text-decoration: none;
}

.questions_section .questions_section {
    display: flex;
    height: 100%;
    /* margin: 20px 0;
    padding: 20px; */
}

.questions_section .application_container {
    width: 60%;
}

.questions_section .applicant_title {
    display: flex;
    align-items: center;
}

.questions_section .application_container h3 {
    font-size: 2rem;
    margin: 10px 0 20px 0;
    color: #A3A3A3;
}

.questions_section .application_content {
    box-shadow: 0 0.4rem 2rem rgba(28, 101, 239, 0.2);
    height: 100%;
    border-radius: 10px;
    padding: 10px 20px;
/*     overflow-y: scroll; */
}

.questions_section .application_content::-webkit-scrollbar {
    width: 8px;
}

.questions_section .application_content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: black;
}

.questions_section .question {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.questions_section .application_text {
    margin-bottom: 15px;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.questions_section .question_btn {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.toggleAnswerForm {
    z-index: 1 !important;
}

.questions_section .answers p {
    margin: 10px 0;
    font-size: 1.5rem;
}

.questions_section #applicationContent {
    counter-reset: section;
    /* display: block; /* 기본적으로 표시 */
    height: calc(100% - 6rem);
    overflow-y: scroll;
}

.questions_section #applicationContent .question::before {
    counter-increment: section;
    content: counter(section) ". ";
    font-weight: 600;
}

.questions_section #commonQuestionContent {
    display: none; /* 초기 상태에서 숨김 */
    height: 95%;
    border-radius: 10px;
    padding: 10px;
    overflow-y: scroll;
    flex-direction: column;
}

.questions_section .clickable {
    cursor: pointer;
}


.questions_section .questions {
    width: 50%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.questions_section #question_list {
    height: 100%;
    overflow-y: scroll;
    flex-direction: column-reverse;
    padding: 0;
    margin-top: 0;
}

.questions_section #question_listt::-webkit-scrollbar {
    display: none;
}

.questions_section .individualquestion{
    background-color: #EAF1FD;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    overflow-y: scroll;
    flex-direction: column;
    margin-top: 0;
}
.questions_section .individualquestion > p {
    font-size: 1.6rem;
}

.questions_section .individualquestion small {
    display: inline-block;
    margin-left: auto; 
}

.questions_section .answers{
    margin-bottom: 5px;
}

.questions_section .question_box {
    height: 10%;
    border: 2px solid #ddd;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.questions_section #question-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions_section #id_text{
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    max-height:40px;
    margin-left: 20px;
}


.questions_section #questionForm button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.questions_section #question-form p > label {
    display: none;
}

.questions_section #question-form > button {
    font-size: 3.5rem;
    margin-right: 10px;
    color: #A3A3A3;
}