@media (min-width: 691px) {
   .responsive_initial_btns {
      display: none;
   }
}

@media (max-width: 690px) {
   header {
      height: 100px;
   }
   main {
      height: calc(100vh - 100px);
   }
   .initial_btns {
      display: none;
   }
   .applicant_navbar {
      justify-content: center;
   }
   .main_comment {
      margin-top: 2rem;
   }
   .responsive_initial_btns {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 18rem;
   }
   .responsive_initial_btns a {
      text-decoration: none;
      font-size: 2rem;
   }
   .link_write {
      padding: 0.8rem 4rem;
      margin: 0;
      margin-bottom: 1.5rem;
   }

   .status_container {
      flex-direction: column;
   }
   .status_left_container, .status_right_container {
      width: 100%;
   }
   .status_right_container {
      margin-bottom: 4rem;
   }
   .club_container {
      width: 25rem;
      height: 20rem;
   }
   .club_name {
      margin: 0;
   }
   #statuscheck_form input {
      width: 35rem;
      height: 5.5rem;
      font-size: 2rem;
      margin-bottom: 1rem;
   }
   .status_container button {
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 6rem;
   }
   .club_description, .status_logo {
      display: none;
   }

   .result_head img {
      width: 6rem;
      height: 6rem;
   }
   .result_head p {
      font-size: 4.5rem;
   }
   .result_comment, .resultno_comment {
      font-size: 3rem;
      margin-bottom: 1rem;
      margin-top: 5.5rem;
   }
   .applyResult_container a {
      font-size: 1.5rem;
      margin-bottom: 6rem;
   }
   .applyResult_container a img {
      width: 1.8rem;
      height: 1.8rem;
   }
}

@media (max-width: 580px) {
   .main_comment {
      text-align: center;
      font-size: 4rem;
      line-height: 5rem;
   }
   .main_logo {
      font-size: 5rem;
      line-height: 6rem;
   }
}