{% load static %}
<head id="header_style">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
</head>
<div class="comments_section">
    <div class="application_container">
        <div class="application_content">
            <div class="applicant_title">
                <h3>지원서</h3>
            </div>
            <div class="application_content_list">
                {% for answer in answers %}
                    <p class="question"><strong>{{ answer.question.question_text }}</strong></p>
                    <p class="answer_list">{{ answer.answer_text }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="comments">
        <div id="comment_list">
            {% for comment in comments %}
                <div class="comment" data-comment-id="{{ comment.id }}">
                    <small><strong>작성자:</strong> {{ comment.interviewer.name }}</small>
                    <p>| {{ comment.text }}</p>
                    <!--<small>작성일: {{ comment.created_at }}</small>-->
                    <button class="deleteCommentBtn" data-comment-id="{{ comment.id }}"><i class="ri-delete-bin-7-line"></i></button>
                </div>
            {% endfor %}
        </div>
        <div class="comment_box">
            <form id="comment-form" action="{% url 'applicants:comment' applicant.pk %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"><i class="ri-arrow-right-circle-fill"></i></button>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/comments.js' %}"></script>
