{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/document.css' %}">
{% endblock %}
{% block content %}
<div class="document_container">
    <div class="applicant_container">
        <div class="applicants_list">
            <p>지원자</p>
            <div class="scroll_section">
                {% for applicant in applicants %}
                <div class="each_applicant all" onclick="location.href='{% url 'applicants:profile' applicant.pk %}';" style="cursor:pointer;">
                    <ul class="applicant_info">
                        <li id="name">{{applicant.name}}</li>
                        <li class="info">{{applicant.school}}</li>
                        <li class="info">{{applicant.major}}</li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="passed_container">
        <div class="passed_list">
            <p>서류 합격자</p>
            <div class="scroll_section">
                {% for applicant in applicants %}
                {% if applicant.status != 'submitted' %}
                    <div class="each_applicant pass" onclick="location.href='{% url 'applicants:profile' applicant.pk %}';" style="cursor:pointer;">
                        <ul class="applicant_info">
                            <li id="name">{{applicant.name}}</li>
                            <li class="info">{{applicant.school}}</li>
                            <li class="info">{{applicant.major}}</li>
                        </ul>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}