{% extends 'base.html' %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}
<div class="title">지원자 관리 > 면접 관리</div>
<div class="applicant_container">
    <div class="applicants_list">
        <p>면접 대기</p>
        <div class="scroll_section">
            {% for applicant in applicants %}
            {% if applicant.status == 'interview_scheduled' %}
            <div class="each_applicant scheduled">
                <ul>
                    <li id="name">{{applicant.name}}</li>
                    <li class="info">{{applicant.school}}</li>
                    <li class="info">{{applicant.major}}</li>
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="applicants_list">
        <p>면접 진행 중</p>
        <div class="scroll_section">
            {% for applicant in applicants %}
            {% if applicant.status == 'interview_in_progress' %}
                <div class="each_applicant in_progress">
                    <ul>
                        <li id="name">{{applicant.name}}</li>
                        <li class="info">{{applicant.school}}</li>
                        <li class="info">{{applicant.major}}</li>
                    </ul>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="applicants_list">
        <p>면접 완료</p>
        <div class="scroll_section">
            {% for applicant in applicants %}
            {% if applicant.status == 'interview_completed' %}
                <div class="each_applicant completed">
                    <ul>
                        <li id="name">{{applicant.name}}</li>
                        <li class="info">{{applicant.school}}</li>
                        <li class="info">{{applicant.major}}</li>
                    </ul>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}