{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>
{% endblock %}
{% block content %}
<section>
    <div class="profile_container">
        <h2>지원자 프로필</h2>
        <div class="profile_details">
            <div class="profile_personal">
                <p><strong>이름:</strong> {{ applicant.name }}</p>
                <p><strong>학교:</strong> {{ applicant.school }}</p>
                <p><strong>학과:</strong> {{ applicant.major }}</p>
                <!--<p><strong>이메일:</strong> {{ applicant.phone_number }}</p><-->
                <p><strong>전화번호:</strong> {{ applicant.phone_number }}</p>
            </div>
            <div>
                <p><strong>면접일:</strong> {{ applicant.interview_date }}</p>
                <p><strong>면접관:</strong> {{ applicant.interviewer }}</p>
            </div>
            <div>
                <h3>지원서 내용</h3>
                <div>
                    {% for answer in answers %}
                        <p>{{ answer.question.question_text }}</p> 
                        <p>{{ answer.answer_text }}</p> 
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
