{% extends 'base.html' %}
{% load static %}
{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
{% endblock %}
{% block content %}
<section>
    <div class="profile_header">
        <div class="profile_logo">
            <a onclick="goBack()"><i class="ri-arrow-left-s-line"></i></a>
            <span>지원자 프로필</span>
        </div>
        <div class="actions">
            <a href="{% url 'applicants:comment' applicant.pk %}">코멘트 작성 |</a>
            <a href="{% url 'applicants:question' applicant.pk %}">개별 질문 |</a>
            <a href="{% url 'evaluations:evaluation_create' applicant.pk %}">평가표 확인</a>
        </div>
    </div>
    <div class="profile_section">
        <div class="profile_container">
            <div class="profile_personal">
                <div class="profile_name">{{ applicant.name }}</div>
            </div>
        </div>
        <div class="application_container">
            <div class="application_text">
                <h3>지원서</h3>
                <button id="recordBtn">녹음</button>
                <audio id="audioPlayback" controls style="display: none;"></audio>
                <button id="deleteRecordingBtn" style="{% if not recording_exists %}display: none;{% endif %}">삭제</button>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
