{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}
{% block content %}
<div class="title">면접일정</div>
<form class="schedule_btn" action="{% url 'applicants:auto_schedule'%}" method="POST">
    {% csrf_token %}
    <button class="btn" type="submit">자동 스케줄링</button>
</form>
<div class="page_container">
    <div class="schedule_container">
        {% for schedule in schedules %}
            <div class="grid_container">
                <p>{{schedule.possible_date}} {{schedule.get_possible_ampm_display}}</p>
                {% for applicant in applicants %}
                    {% if applicant.interview_date == schedule %}
                    <div class="applicant_info">
                        <span class="name">{{applicant.name}}</span> 
                        <span>{{applicant.interview_time}}</span>
                        <span class="update">수정</span>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="reschedule_container">
        <p>조율이 필요한 사람</p>
        <div class="reschedule_applicant">
        {% for applicant in applicants %}
            {% if applicant.interview_date == null %}
            <div class="applicant_info">
                <p>{{applicant.name}}</p>
                <div>
                    {% for possible_date in applicant.possible_date.all%}
                    <p>{{possible_date}}</p>    
                    {% endfor %}
                </div>
            </div>  
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}