{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}
{% block content %}
<div class="title">면접일정</div>
<div class="page_container">
    <div class="schedule_container">
        {% for schedule in schedules %}
            <div class="grid_container">
                <p>{{schedule.possible_date}} {{schedule.get_possible_ampm_display}}</p>
                {% for applicant in applicants %}
                    {% if applicant.interview_date == schedule %}
                    <div class="applicant_info">
                        <span class="name">{{applicant.name}}</span> 
                        <span class="sideText">{{applicant.interview_time}}</span>
                        <span class="spanUpdate{{applicant.id}} sideText" style="margin-right: 5px; color: white;"><input type="button" value="수정" onclick="Update({{applicant.id}})"></span>
                        <select class="selectDate{{applicant.id}}" style="display:none">
                            {% for select_date in applicant.possible_date.all %}
                            <option class="Date{{ applicant.id }}" value="{{select_date}}">{{select_date}}</option>
                            {% endfor %}
                        </select>
                        <select class="selectTime{{applicant.id}}" style="display:none">
                            {% for select_time in applicant.TIME_CHOICES %}
                            <option class="Time{{ applicant.id }}" value="{{select_time}}">{{select_time|first}}</option>
                            {% endfor %}
                        </select>
                        <span class="spanSubmit{{applicant.id}}" style="display:none"><input type="button"  value="수정 완료" onclick="Submit({{applicant.id}})"></span>
                        <span class="spanUpdateCancel{{applicant.id}}" style="display:none"><input type="button"  value="취소" onclick="UpdateCancel({{applicant.id}})"></span>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="reschedule_container">
        <div class="scheduleTitle">
            <p>조율이 필요한 사람</p>
            <form class="schedule_btn" action="{% url 'applicants:auto_schedule'%}" method="POST">
                {% csrf_token %}
                <button class="btn" type="submit">자동 스케줄링</button>
            </form>
        </div>
        <div class="reschedule_applicant">
        {% for applicant in applicants %}
            {% if applicant.interview_date == null %}
            <div class="applicant_info">
                <p>{{applicant.name}}</p>
                <div class="appliCtx">
                    {% for possible_date in applicant.possible_date.all%}
                    <p>{{possible_date}}</p>    
                    {% endfor %}
                </div>
            </div>  
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/schedule.js' %}"></script>
{% endblock %}